@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RoughTypewriter';
  src: url('/fonts/RoughTypewriter.otf') format('opentype');
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SouthBelgian';
  src: url('/fonts/SouthBelgian.ttf') format('truetype');
}

